<div class="container register-container">
  <form (submit)="goToLogin()" class="register-form">
    <!-- Changed method name to register() -->
    <div class="form-group">
      <h2 class="register-title">Register</h2>

      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="user.username"
        placeholder="Enter Username"
        required
      />
    </div>

    <div class="form-group">
      <!-- Added div wrapper for better styling and consistent layout -->
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        placeholder="Enter Password"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        placeholder="Enter Email"
        required
      />
    </div>

    <div class="form-group">
      <label for="profilePic">Profile Picture:</label>
      <input type="file" (change)="handleFileInput($event)" accept="image/*" />
    </div>
    <button type="submit" (click)="register()" class="btn btn-primary mt-2">
      Register
    </button>
    <div
      class="d-flex align-items-center justify-content-center"
      style="margin-top: 10px"
    >
      <span class="me-2">Already have an account?</span>
      <button
        (click)="goToLogin()"
        class="btn btn-link"
        style="
          text-decoration: underline;
          border: none;
          background: none;
          padding: 0;
        "
      >
        Login Here
      </button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
      {{ errorMessage }}
    </div>
  </form>
</div>
