.register-container {
  padding-bottom: 30px;
}

.register-title {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: 40px;
}

.register-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload-label {
  display: block;
  margin-bottom: 10px;
}

#file-chosen {
  font-family: Arial, sans-serif;
}
