.login-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 40px;
}
.login-container {
  padding-bottom: 30px;
}
.login-image {
  width: 150px;
  height: 150px;
  margin: 32px;
}
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}
.gradient-text {
  background: #f10a4c;
  background: linear-gradient(to right, #f10a4c 32%, #28648f 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}
.gradient-bottom-border {
  background: none;
  border: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #f10a4c, #28648f) 1;
  outline: none;
  padding: 10px;
  border-radius: 0;
  transition: border-bottom-color 0.3s ease;
  color: white;
}

.gradient-bottom-border:focus {
  border-bottom-color: #28648f;
}
.gradient-bottom-border::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.custom-link-button {
  text-decoration: underline;
  border: none;
  background: none;
  padding: 0;
  color: #fd4550;
  transition: color 0.3s ease;
}

.custom-link-button:hover {
  color: #bb323b;
}
.btn-primary-custom {
  position: relative; /* Needed for pseudo-element positioning */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  padding: 8px 16px;
  max-width: 100px;
  text-align: center;
  border: 2px solid transparent; /* Transparent border to maintain layout */
  overflow: hidden; /* Ensures the pseudo-element doesn't extend outside */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for other properties */
}

.btn-primary-custom::after {
  content: "";
  position: absolute;
  top: -2px; /* Adjust for the border width */
  left: -2px; /* Adjust for the border width */
  width: calc(100% + 4px); /* Adjust for the border width */
  height: calc(100% + 4px); /* Adjust for the border width */
  background: linear-gradient(to right, #f10a4c, #28648f);
  border-radius: 10px; /* Same as the button */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btn-primary-custom:hover::after {
  opacity: 1; /* Show the gradient border on hover */
}
.center-button {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.btn-primary-custom {
  align-items: center;
  background-image: linear-gradient(144deg, #f10a4c, #28648f 70%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.btn-primary-custom:active,
.btn-primary-custom:hover {
  outline: 0;
}

.btn-primary-custom span {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btn-primary-custom:hover span {
  background: none;
}

@media (min-width: 768px) {
  .btn-primary-custom {
    font-size: 24px;
    min-width: 140px;
  }
}
