<div class="container mt-5">
  <!-- Place this code at the top or where you want the logout button to be -->
  <div class="d-flex justify-content-between mb-4">
    <span class="align-self-center">Hello, {{ currentUser?.username }}</span>
    <!-- Display the current user's name. We use the safe navigation operator (?) to avoid null reference errors -->
    <div>
      <button (click)="logout()" class="btn btn-warning">Logout</button>
      <button (click)="deleteAccount()" class="btn btn-danger">
        Delete Account
      </button>
      <button
        *ngIf="isAdmin"
        (click)="navigateToDashboard()"
        class="btn btn-info"
      >
        Dashboard
      </button>
    </div>
  </div>

  <div class="list-group">
    <div *ngFor="let group of allGroups" class="list-group-item">
      <div class="d-flex justify-content-between align-items-center mb-3">
        {{ group.name }}

        <!-- Group Membership Control -->
        <ng-container *ngIf="isMemberOfGroup(group.id); else notMemberTemplate">
          <button (click)="leaveGroup(group.id)" class="btn btn-danger">
            Leave
          </button>
        </ng-container>

        <ng-template #notMemberTemplate>
          <ng-container *ngIf="isPending(group.id); else joinButtonTemplate">
            <span class="badge badge-warning badge-pill text-dark"
              >Pending</span
            >
          </ng-container>
          <ng-template #joinButtonTemplate>
            <button
              class="btn btn-primary"
              (click)="requestToJoinGroup(group.id)"
            >
              Join
            </button>
          </ng-template>
        </ng-template>
      </div>

      <!-- Channel List -->
      <div *ngIf="isMemberOfGroup(group.id)">
        <div
          *ngFor="let channel of group.channels"
          class="d-flex justify-content-between align-items-center mb-2"
        >
          {{ channel.name }}

          <!-- Add user to channel using a dropdown -->
          <ng-container *ngIf="!isChannelMember(channel.id, group.id)">
            <button
              class="btn btn-sm btn-primary"
              (click)="joinChannel(currentUser?.id || '', channel.id)"
            >
              Join Channel
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
